@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    -webkit-tap-highlight-color: transparent;
    --color-iberu: #419F89;
    --color-iberu-active: #317e67;
}

html {
    --color-index: #fff;
    --color-background: #dadada;
    --color-navbar: #ededed;
    --color-panel: #ededed;
    --color-border: #feffff;
    --color-text: #202020;
    --color-secondary-text: #606060;
    --color-separator: #DDDDDD;
    --color-invert: 0;
    --color-scrollbar-thumb: #acacac;
    --color-scrollbar-track: #feffff;
    --color-login: #ececec;
    --color-loader: #acacac;
    --color-shadow: #acacac;
    --color-positive: #1C827C;
    --color-negative: #E61919;
}

html[data-theme='dark'] {
    --color-index: #000;
    --color-background: #141414;
    --color-navbar: #141414;
    --color-panel: #202020;
    --color-border: #202020;
    --color-text: #feffff;
    --color-secondary-text: #acacac;
    --color-separator: #202020;
    --color-invert: 1;
    --color-scrollbar-thumb: #606060;
    --color-scrollbar-track: #202020;
    --color-login: #202020;
    --color-loader: #606060;
    --color-shadow: #000;
    --color-positive: #24A49C;
    --color-negative: #EC5454;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text);
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 2px var(--color-scrollbar-track);
    border-radius: 2px;
    border-left: 1.5px solid transparent;
    border-right: 1.5px solid transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 5px;
}
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*################################## Navbar ##################################*/
nav {
    display: flex;
    height: 80px;
    padding: 0 40px;
    background: var(--color-navbar);
    align-items: center;
}
nav .navbar-logo {
    height: fit-content;
    padding: 5px 30px 5px 0;
    border-right: 1px solid var(--color-separator);
}
nav .navbar-logo img {
    width: 150px;
    height: auto;
    padding: 2px;
    filter: invert(var(--color-invert));
}
nav .navbar-logo a:focus-visible > img {
    padding: 0;
    border: 2px solid var(--color-loader);
}
nav .navbar {
    display: flex;
    height: inherit;
    flex: 1;
    justify-content: space-between;
}
nav .navbar-items {
    display: flex;
    margin: 0 30px;
    padding: 0;
    flex: 2;
}
nav .navbar-items li {
    display: inline-block;
    height: 100%;
    margin: 0 5px;
}
nav .navbar-items i {
    display: none;
}
nav .navbar-items a {
    display: flex;
    height: 100%;
    padding: 0 5px;
    align-items: center;
}
nav .navbar-items a:hover,
nav .navbar-items a:focus-visible {
    color: var(--color-iberu);
    border-bottom: 2px solid var(--color-iberu);
}
nav .current {
    color: var(--color-iberu);
    border-bottom: 2px solid var(--color-iberu);
}
nav .navbar-auth {
    margin: auto;
    padding: 2px 15px 2px 0;
}
nav .navbar-button {
    display: inline;
    padding: 12px 18px;
    background: var(--color-iberu);
    font-size: 12px;
    color: white;
    border: 1px solid var(--color-iberu);
    border-radius: 5px;
}
nav .navbar-button.secondary {
    background: var(--color-login);
    color: var(--color-iberu);
    margin: 0 5px 0 0;
    border: none;
}
nav .navbar-button:not(.secondary):hover,
nav .navbar-button:not(.secondary):focus-visible {
    transition: all .25s;
    color: white;
    background: var(--color-iberu-active);   
}
nav .navbar-button.secondary:hover,
nav .navbar-button.secondary:focus-visible {
    transition: all .25s;
    color: var(--color-iberu-active);
    background: var(--color-loader);
}
nav .navbar-theme {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
nav .navbar-theme div {
    display: none;
}
nav .navbar-theme input {
    width: 0;
    height: 0;
    visibility: hidden;
}
nav .navbar-theme label {
    padding: 2px;
}
nav input[type=checkbox]:checked + label > #moon,
nav input[type=checkbox]:not(:checked) + label > #sun {
    font-size: 16px;
    width: 16px;
    cursor: pointer;
}
nav input[type=checkbox]:checked + label > #sun,
nav input[type=checkbox]:not(:checked) + label > #moon {
    display: none;
}
nav .navbar-theme label:focus-visible {
    padding: 0;
    border: 2px solid var(--color-loader);
}
nav .navbar-creator {
    display: none;
    color: white;
}
nav .navbar-user {
    display: flex;
    margin: 0 0 0 18px;
    padding: 4px 2px 4px 18px;
    border-left: 1px solid var(--color-separator);
    cursor: pointer;
}
nav .navbar-user:focus-visible {
    padding: 2px 0 2px 16px;
}
nav .navbar-user:focus-visible > i{
    border: 2px solid var(--color-loader);
}
nav .navbar-user a {
    padding: 0;
    font-size: 18px;
}
nav .navbar-menu,
nav .navbar-cancel {
    display: none;
}

/*################################## Shared Styles ##################################*/
h1 {
    font-size: 24px;
}
h2 {
    font-size: 16px;
    text-align: center;
}

a {
    color: var(--color-text);
    text-decoration: none;
}
a:focus-visible {
    color: var(--color-iberu);
}
a:focus-visible > i{
    color: var(--color-iberu);
}

i {
    font-size: 16px;
    color: var(--color-text);
}

img {
    width: 24px;
    height: 24px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}
button.disable {
    background: var(--color-background);
    border: var(--color-background);
    cursor: default;
}
button.hide {
    display: none !important;
}

input[type="checkbox"] {
    appearance: none;
    background: var(--color-panel);
    height: 13px;
    width: 13px;
    margin: 0 5px 0 0;
    border: 2px solid var(--color-text);
    border-radius: 2px;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background: var(--color-iberu);
    border: 2px solid var(--color-iberu);
    clip-path: polygon(0% 59%, 37% 100%, 100% 17%, 93% 11%, 37% 81%, 8% 53%);
}
input[type="checkbox"]:focus-visible {
    border: 2px solid var(--color-iberu);
}

.visually-hidden {
    position: absolute;
    color: var(--color-text);
    top: auto;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

.positive,
.positive i {
    color: var(--color-positive);
}
.negative,
.negative i {
    color: var(--color-negative);
}

.modal {
    position: absolute;
    display: none;
    width: fit-content;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    border-radius: 10px;
}
.modal.show {
    display: block;
}
.modal-header {
    display: flex;
    width: 90%;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--color-separator);
}
.modal-body {
    display: block;
    width: 90%;
    margin: 0 auto;
}
.next-btn {
    display: block;
    width: fit-content;
    margin: 5px 0 0 auto;
    color: var(--color-iberu);
}
.iberu-button {
    padding: 7px 15px;
    background: var(--color-iberu);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.iberu-button.inverse {
    background: white;
    color: var(--color-iberu);
}
.iberu-button.big {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.iberu-button:focus-visible {
    background-color: var(--color-iberu-active);
}
.submit {
    float: right;
}

.links {
    display: flex;
}
.links a {
    display: block;
    text-align: center;
    height: fit-content;
    width: fit-content;
    margin: auto 0;
}
.links a i {
    padding: 0 10px 0 0;
    color: white;
}

.secondary-info {
    font-size: 12px;
    color: var(--color-secondary-text);
}

.external-container.large {
    margin: 15px 4%;
}
.external-container.narrow {
    margin: 15px 12%;
}

lightweight-performance-chart,
lightweight-chart-container,
lightweight-user-chart {
    position: relative;
    height: 100%;
    z-index: -1;
}
lightweight-performance-chart.loaded,
lightweight-chart-container.loaded,
lightweight-user-chart.loaded {
    z-index: 2;
}

.coming-soon {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.coming-soon h1 {
    display: block;
    font-size: 40px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}


#banner-container {
    height: 70vh;
    max-height: 550px;
}
#registration-form {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
#registration-form .links {
    width: 100%;
    margin: 10px auto 10px 0;
}
#registration-form .links a:not(:last-child) {
    margin: auto 20px auto 0;
}
#registration-form h1 {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 25px;
}
#registration-form h2 {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
#registration-form .inverse {
    color: #141414;
}
#google-registration {
    background: white;
    width: 30px;
    height: 30px;
    margin: -9px 0;
    border: 4px solid white;
    border-radius: 100%;
}
#smartphone-image {
    position: relative;
    width: 50%;
    height: 100%;
}
.smartphone {
    min-width: 210px;
    width: 26%;
    max-width: 268px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 10px 18px var(--color-shadow);
}
.smartphone.hide {
    display: none !important;
}
.smartphone.above {
    z-index: 6;
}
.smartphone.below {
    z-index: 5;
}
#smartphone-search-l,
#smartphone-search-d {
    position: absolute;
    bottom: 10%;
    left: 15%;
}
#smartphone-strategy-l,
#smartphone-strategy-d {
    position: absolute;
    bottom: 4%;
    right: 5%;
}
#performer-container {
    border-radius: 0;
    margin-bottom: 0;
}
#performer-container h1 {
    text-align: center;
    margin: 80px 0 30px 0;
    font-size: 30px;
}
#performer-container h2{
    display: block;
    width: fit-content;
    margin: 50px auto 20px auto;
    font-size: 22px;
}
#monthly-top-performer {
    position: relative;
    width: 100%;
    min-height: 70px;
    height: fit-content;
    margin: 20px 0 0 0 ;
}
#creator-container h1{
    width: 100%;
    margin: 20px 0;
    font-size: 28px;
    font-weight: 500;
}
#creator-container h2 {
    width: 100%;
    margin: 20px 0 10px 0;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}
#creator-container h2:last-of-type {
    margin: 10px 0 40px 0;
}
#creator-img {
    width: 200px;
    height: 200px;
    margin: auto 40px auto 0;
}
#creator-container .learn-more {
    border-radius: 25px;
    font-size: 18px;
}
#creator-container .learn-more i {
    margin: 0 0 0 30px;
}
#steps-container {
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
    flex-direction: column;
}
#steps-container h1 {
    text-align: center;
    margin: 70px 0 40px 0;
    font-size: 30px;
}
#steps {
    width: 100%;
    margin: auto;
}
#steps .column {
    width: 33.3%;
}
#steps section {
    width: 56%;
    margin: auto;
}
#steps section h2{
    margin: 0 0 8px 0;
    font-size: 19px;
    letter-spacing: 2px;
}
.arrow {
    display: flex;
    position: relative;
    width: 100%;
    height: 14vw;
    margin: 0 0 25px 0;
    flex-direction: column;
}
.arrow-down.left {
    height: 50%;
    width: 100%;
    margin: 0;
    clip-path: polygon(0 60%, 92% 60%, 100% 100%, 8% 100%);
    background: var(--color-iberu-active);
    z-index: 2; 
}
.arrow-down.right {
    height: 50%;
    width: 100%;
    margin: 0;
    clip-path: polygon(8% 0, 100% 0, 92% 40%, 0 40%);
    background: var(--color-iberu);
    z-index: 2;
}
.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55.4%;
    height: 100%;
    padding: 5px;
    transform: translate(-50%, -50%);
    border: 2px solid var(--color-iberu-active);
    border-left: 2px solid transparent;
    border-radius: 100%;
    z-index: 1;
}
#first-step,
#second-step,
#third-step {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    background: var(--color-panel);
    border-radius: 100%;
    box-shadow: 8px 0 25px -2px var(--color-shadow);
    z-index: 3;
}





#overview-container {
    display: block;
}
#selector-container {
    display: flex;
    width: 100%;
    padding: 0 15px 0 15px;
}
#selector-container .page {
    padding: 20px 0 20px 0;
    margin: 0 20px;
    font-size: 14px;
    color: var(--color-text);
}
#selector-container .page.current {
    color: var(--color-iberu);
    border-bottom: 2px solid var(--color-iberu);
}
.page i {
    display: none;
    padding: 0 8px 0 0;
    font-size: 16px;
    color: var(--color-text);
}
.page.current i {
    color: var(--color-iberu);
}
#user-image {
    display: block;
    border-radius: 100%;
}

#user-info {
    margin: 7px 0 0 0;
    padding: 7px 0 0 0;
    flex-direction: column;
}
#cryptos-container,
#strategies-container {
    width: 30%;
}
#cryptos-container canvas,
#strategies-container canvas {
    width: 100% !important;
    height: 175px !important;
}


#user-container {
    display: flex;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 75%;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -25%);
    z-index: 10;
}
#user-container p {
    width: fit-content;
}
#user-container #user-image {
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 100%;
    margin: 0 auto 10px auto;
}
#doughnuts-container {
    margin-top: 120px;
}
#doughnuts-container .external-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}




#easy-pie-container {
    display: flex;
    padding: 0 10px;
    margin: auto;
}
#easy-pie-container.hide {
    display: none;
}
.easy-pie-chart {
    position: relative;
    width: 100%;
    padding: 0 15px;
    cursor: default;
}
.easy-pie-chart:hover > .param {
    display: block;
}
.percentage {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.param::before {
    content: "";
    position: absolute;
    top: -6%;
    left: 47%;
    z-index: 8;
    border: solid 8px transparent;
    border-right-color: #ededed;
    rotate: 90deg;
}
.param {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, 30%);
    width: 230%;
    height: 400%;
    border-radius: 5px;
    background: #ededed;
}
.param h3 {
    text-align: center;
}
.param h3,
.param p {
    padding: 15px 15px 0 15px;
    color: black;
}


#buy-modal {
    position: fixed;
    width: 70%;
    height: 80%;
    background: var(--color-background);
    color: var(--color-text);
    z-index: 10;
}
#buy-modal .modal-header {
    border: none;
}
.terms-conditions {
    height: 90%;
    margin: auto;
    overflow-y: auto;
}

.row {
    display: flex;
    position: relative;
}

#login-row {
    display: flex;
    min-height: 100vh;
    height: 100%;
    background-image: url(/static/img/iberu-banner.jpg);
}

.column {    
    padding: 0;
    float: left;
}

.left {    
    margin-right: 15px;
}

.panel {
    position: relative;
    margin-bottom: 15px;
    padding: 15px;
    background: var(--color-panel);
    border-radius: 5px;
}
.panel.current {
    border: 1px solid var(--color-iberu);
}
.panel-info {
    position: absolute;
    width: 13px;
    height: 13px;
    padding: 2px;
    top: 5px;
    right: 5px;
    color: var(--color-loader);
}
.panel-info.hide {
    display: none;
}
.panel-info:focus-visible {
    padding: 0;
    border: 2px solid var(--color-loader);
}
.panel-about {
    display: none;
    background: var(--color-background);
    z-index: 8;
}
.panel-about.show {
    display: block;
}

#iberu-container {
    display: flex;
    margin: 0;
    flex: 60%;
    justify-content: center;
    align-items: center;
}
#iberu-container div {
    width: fit-content;
    height: fit-content;
    color: white;
}
#iberu-container img {
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
    filter: invert(1);
}
#iberu-container h1 {
    display: block;
    width: fit-content;
    margin: 2px auto 2px 34%;
    font-weight: 100;
}
#iberu-container .iberu-button {
    display: block;
    width: fit-content;
    margin: 2px auto 2px 34%;
    letter-spacing: 2px;
    background: var(--color-iberu-active);
}

#login-container {
    display: flex;
    margin: 0;
    flex: 40%;
    background: var(--color-iberu-active);
    justify-content: center;
    align-items: center;
}
#login-container .login-container{
    width: 70%;
    height: auto;
    color: white;
}
#login-container h1 {
    font-size: 30px;
    font-weight: 200;
    width: fit-content;
    margin: auto;
}
#login-container label {
    visibility: hidden;
}
#login-container input[type=text],
#login-container input[type=password] {
    width: 90%;
    height: 32px;
    margin: 12px 5%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--color-separator);
    background: transparent;
    font-size: 22px;
    color: white;
}
#login-container input[type=text]::placeholder,
#login-container input[type=password]::placeholder {
    font-size: 20px;
    color: white;
}
#login-container p{
    width: 100%;
}
#login-container input[type=checkbox]{
    background: var(--color-iberu);
}
.authentication {
    margin: 5px 5%;
}
.authentication .iberu-button {
    padding: 7px 30px;
    color: var(--color-iberu-active);
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}
.authentication a {
    margin-left: 10px;
    color: white;
}
.alternative-auth {
    display: block;
    width: fit-content;
    margin: 20px auto;
}
a.google-login {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 5px auto 0 auto;
}
a.google-login:focus-visible > img {
    border: 3px solid var(--color-iberu);
    border-radius: 100%;
}
.google-login img {
    background: white;
    width: 30px;
    height: 30px;
    border: 4px solid white;
    border-radius: 100%;
}

#column-container {
    width: 60%;
    float: right;
}

.tutorial {
    display: none;
}
.tutorial.show {
    display: flex;
}
#tutorial-container {
    width: 100%;
    padding: 15px 45px;
}
#tutorial-container h1 {
    display: block;
    width: fit-content;
    margin: 0 auto 10px auto;
}

#header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#header-container h1,
#header-container p {
    width: fit-content;
    margin: auto;
}
.strategy-title {
    text-align: center;
    display: block;
    margin: auto 0;
    width: calc(70% - 15px);
}

#buy-container {
    width: 30%;
    height: auto;
}
.checkbox-container {
    display: flex;
    height: 100%;
    padding: 20px 10px;
    flex-direction: column;
}
.checkbox-container label {
    display: block;
    width: fit-content;
    margin: 0 0 10px 0;
    cursor: pointer;
}
#buy-button {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 10px 20px;
}
#buy-button .price {
    width: 100%;
    text-align: center;
    font-size: 24px;
}
#buy-container .accept-terms {
    display: none;
    width: 100%;
    color: var(--color-text);
    font-size: 12px;
}
#buy-button.disable:focus-visible {
    background: var(--color-background); 
}
#buy-button.disable:hover > .price, 
#buy-button.disable:focus-visible > .price {
    display: none;
}
#buy-button.disable:hover > .accept-terms,
#buy-button.disable:focus-visible > .accept-terms {
    display: block;
}

#description-container {
    width: calc(70% - 15px);
    height: fit-content;
}
.description span, 
.description p {
    margin: 4px 15px 4px 15px;
}
.description ul {
    margin: 0 0 4px 45px;
}

#performance-container {
    width: 100%;
    height: 300px;
    background-image: url(/static/img/watermark.png);
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
}

#chart-container {
    width: calc(65% - 15px);
    height: 500px;
    background-image: url(/static/img/watermark.png);
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
}

#earning-container {
    width: 35%;
    height: 500px;
    overflow: auto;
}
#earning-container h2 {
    margin: 10px auto 20px auto;
}



#time-distribution-container {
    width: 100%;
    height: 420px;
}

#trade-distribution-container {
    width: 100%;
    height: 285px;
}
#trade-distribution-container h2,
#time-distribution-container h2 {
    text-align: center;
    margin-bottom: 5px;
}
#trade-distribution,
#time-distribution {
    height: 90% !important;
    width: 100% !important;
}
#trade-distribution.fade,
#time-distribution.fade {
    opacity: 0.45;
    filter: blur(5px);
}
.no-trade {
    position: absolute;
    display: block;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.no-trade h3 {
    font-size: 14px;
}
.no-trade.hide {
    display: none;
}

#info-container {
    width: calc(40% - 15px);
    height: 720px;
    overflow-y: auto;
}
#info-modal,
#info-modal i {
    background: #ededed;
    color: #202020;
}
#info-modal label {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

#trades-container {
    width: 100%;
    height: 180px;
}

#strategy-container {
    width: 100%;
    height: 220px;
}




.earning-grid {
    display: grid;
    margin: 10px 10px 0 10px;
    padding-bottom: 10px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}

.earning-item {
    padding: 2px;
}
.earning-grid button{
    background-color: var(--color-panel);
    border: none;
    cursor: pointer;
}
.earning-item:focus-visible {
    padding: 0;
    border: 2px solid var(--color-loader);
}
.earning-item i{
    width: fit-content;
    background-color: var(--color-panel);
    color: var(--color-text);
}
.loader {
    display: none;
    margin: auto;
    border: 2px solid var(--color-loader);
    border-radius: 50%;
    border-top: 2px solid var(--color-text);
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.earning-item i.hide {
    display: none;
}
.earning-item i.show, 
.loader.show {
    display: inline-block;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sub-grid {
    display: none;
}
.sub-grid.show {
    display: block;
    background: var(--color-panel);
    border-radius: 5px;
}

.trades-grid {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    padding: 2px;
    justify-content: center;
    text-align: center;
    font-size: 11px;
}
.trades-grid button{
    background: var(--color-panel);
    border: none;
    cursor: pointer;
}
.trades-item {
    padding: 5px;
}
.trades-item:focus-visible {
    padding: 3px;
    border: 2px solid var(--color-loader);
}
.trades-item i {
    background: var(--color-separator);
    color: invert(var(--color-text));
    border: 5px solid var(--color-separator);
    border-radius: 10px;
    font-size: 10px;
}


.filter {
    display: flex;
    float: right;
    border: none;
    background: var(--color-panel);
    cursor: pointer;
}
.filter:focus-visible > i {
    padding: 2px;
    border: 2px solid var(--color-loader);
}
.filter i {
    padding: 4px;
    color: var(--color-text);
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.performance-table caption {
    padding: 10px 0;
}
.performance-table thead th:nth-child(1) {
    width: 30%;
}
.performance-table thead th:nth-child(2) {
    width: 35%;
}
.performance-table thead th:nth-child(3) {
    width: 35%;
}
th,
td {
  padding: 5px 15px;
}
tr.end-block>td,
tr.end-block>th {
    padding: 5px 15px 30px 15px;
}
.performance-table td span {
    padding-left: 2px;
}
tbody td {
    text-align: center;
}
tbody th {
    text-align: left;
}


.star {
    display: inline-block;
    width: 10px;
    position: relative;
    font-size: 18px;
    color: var(--color-panel);
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: var(--color-iberu);
}
.star.half:after {
    content:'\2605';
    position: absolute;
    width: 9px;
    top: 0;
    color: var(--color-iberu);
    overflow: hidden;
}


.canvas-picker{
    display: block;
    width: 120px;
}
#tone-picker {
    border-radius: 5px;
}
#color-picker {
    border-radius: 5px;
}

.trades-table caption {
    padding: 10px;
}

#weekly-container {
    margin: 50px 0 20px 0;
}
#top-performer {
    width: 92%;
    height: fit-content;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 10px;
}
#weekly-top-performer {
    position: relative;
    width: 100%;
    min-height: 70px;
    height: fit-content;
    margin: 20px 0 0 0;
}
button.fa-chevron-left,
button.fa-chevron-right {
    display: none;
}

.thumbnail-container {
    display: flex;
    justify-content: space-evenly;
}
.thumbnail {
    display: inline-block;
    width: 18.5%;
    padding: 10px;
    background: var(--color-background);
    border-radius: 5px;
}
.thumbnail-header a:hover {
    color: var(--color-iberu);
}
.thumbnail-header {
    display: flex;
    align-items: center;
}
.thumbnail-header a:focus-visible {
    color: var(--color-iberu);
}
.thumbnail-body {
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.thumbnail-column {
    display: flex;
    min-width: 30%;
    width: fit-content;
    justify-content: space-around;
}
.thumbnail-body span,
.thumbnail-body span i {
    font-size: 13px;
    font-weight: 600;
}

.coin-icon {
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
}
.strategy-svg {
    width: 100%;
    height: auto;
}

.dot-list {
    display: none;
}



#search-container {
    width: 100%;
    height: fit-content;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 40px 0 40px 0;
}


.filter-bar {
    display: flex;
    height: fit-content;
    margin: 0 0 10px 0;
    justify-content: end;
}
.search {
    display: flex;
    width: 300px;
    height: 44px;
    order: 2;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    background: var(--color-background);
}
.search input {
    all: unset;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
.search ::placeholder {
    color: var(--color-text);
}
.search button {
    color: var(--color-text);
    cursor: pointer;
    width: 44px;
    height: 44px;
}
.search button:focus-visible {
    border: 2px solid var(--color-separator);
}

.strategies-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    font-size: 14px;
}
.strategies-table thead th:nth-child(1) {
    width: 5%;
}
.strategies-table thead th:nth-child(2) {
    width: 20%;
    text-align: left;
}
.strategies-table thead th:nth-child(3) {
    width: 15%;
}
.strategies-table thead th:nth-child(4),
.strategies-table thead th:nth-child(5) {
    width: 15%;
}
.strategies-table thead th:nth-child(6) {
    width: 20%;
}
.strategies-table thead th:nth-child(7) {
    width: 20%;
}
.strategies-table tbody tr td:nth-child(2) {
    text-align: left;
}
.strategies-table tbody tr.hide,
.strategies-table tbody tr.query {
    display: none !important;
}
.strategies-table tbody tr.query.show {
    display: table-row !important;
}
.strategies-table tbody tr td a:hover {
    color: var(--color-iberu);
}
.strategies-table tbody tr td svg {
    display: block;
    width: 100% !important;
}
.trading-type {
    display: none;
    height: fit-content;
    order: 1;
    background: var(--color-background);
    border-radius: 5px;
}
.trading-type span {
    padding: 10px;
}
#scalping,
#intraday {
    margin: 4px 4px 4px 0;
}
#scalping,
#intraday,
#swing {
    padding: 10px 15px;
    background: var(--color-panel);
    color: var(--color-text);
}
#swing {
    margin: 4px 6px 4px 0px;
}
#scalping i,
#intraday i,
#swing i {
    font-size: 10px;
}
#scalping:focus-visible,
#intraday:focus-visible,
#swing:focus-visible {
    margin: 0;
    border: 2px solid var(--color-separator);
}
#scalping.selected,
#intraday.selected,
#swing.selected {
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-line: line-through;
}




footer {
    height: fit-content;
    width: 100%;
    margin-top: auto;
    background: var(--color-panel);
}
.redirect-bar {
    display: flex;
    width: 100%;
    padding: 25px 2%;
}
.redirect-bar a {
    display: inline-block;
    padding: 2px;
}
.redirect-bar a img{
    width: 150px;
    height: auto;
    padding: 2px;
    filter: invert(var(--color-invert));
}
.redirect-bar a:focus-visible {
    padding: 0;
    border: 2px solid var(--color-loader);
}
footer .links {
    margin: 0 0 0 auto;
}
footer .links a {
    margin: 5px;
    padding: 2px;
}

footer span {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 0 0 40px 0;
}


@media (min-width: 1600px) {
    .smartphone {
        width: 32%;
    }
    #smartphone-strategy-l, 
    #smartphone-strategy-d {
        right: 7%;
    }
    #smartphone-search-l,
    #smartphone-search-d {
        left: 20%;
    }
}
@media (max-width: 1150px) {
    .external-container.narrow {
        margin: 15px 8%;
    }
    .arrow {
        height: 15.5vw;
    }
}
@media (max-width: 1050px) {
    #registration-form h1 {
        font-size: 48px;
    }
    #registration-form .links {
        display: block;
    }
    #registration-form .links a:not(:last-child) {
        margin: 0 0 10px;
    }
}

@media (max-width: 960px) {
    .row {
        flex-direction: column;
    }
    .rev {
        flex-direction: revert;
    }

    nav{
        padding: 0px;
    }

    nav i {
        font-size: 20px;
    }

    nav .navbar-logo {
        display: flex;
        margin: 0;
        padding: 0;
        order: 2;
        flex: 2;
        justify-content: center;
        border: none;
    }

    nav .navbar {
        position: fixed;
        display: none;
        width: 100%;
        max-width: 420px;
        min-height: 280px;
        height: 100%;
        margin: 0;
        padding: 0 30px;
        top: 0;
        right: 0;
        background: var(--color-panel);
        overflow-y: auto;
        z-index: 6;
    }
    nav .navbar.active {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }


    nav .navbar-cancel.show {
        display: flex;
        margin: 30px 0;
        order: 1;
        justify-content: end;
    }


    nav .navbar-items {
        display: block;
        order: 3;
        margin: 20px 0;
        flex: 0;
    }
    nav .navbar-items li {
        display: block;
        height: fit-content;
        padding: 10px 0;
    }
    nav .navbar-items li:last-child {
        border-bottom: 1px solid #DDDDDD;
    }
    nav .navbar-items li a {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    nav .navbar-items li a i {
        display: inline-block;
        padding-right: 5px;
        font-size: 12px;
    }
    nav .navbar-items li a:hover,
    nav .navbar-items li a:focus-visible,
    nav .navbar-items li a:hover i,
    nav .navbar-items li a:focus-visible i {
        color: var(--color-iberu);
        border: none;
    }
    nav .navbar-items .current {
        color: var(--color-text);
        border: none;
    }


    nav .navbar-auth {
        display: block;
        width: inherit;
        margin: 0;
        padding: 25px 0 0 0;
        order: 2;
    }
    nav .navbar-button {
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    nav .navbar-button.secondary {
        border: none;
        margin: 0 0 10px 0;
    }



    nav .navbar-theme {
        margin: 0;
        padding: 0;
        order: 4;
        justify-content: space-between;
    }
    nav .navbar-theme div {
        display: block;
    } 
    nav .navbar-theme i {
        border: none;
        display: inline-block;
        font-size: 12px;
    }    
    nav .navbar-theme span {
        margin-left: 5px;
        display: inline-block;
    }
    nav label {
        width: 44px;
        height: 24px;
        position: relative;
        border-radius: 24px;
        cursor: pointer;
        transition: 0.3s;
    }
    nav label:after {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        top: 2px;
        left: 2px;
        background: white;
        border-radius: 20px;
        transition: 0.3s;
    }
    nav label:focus-visible:after {
        top: 0;
        left: 1px;
    }
    nav label:focus-visible > #moon,
    nav label:focus-visible > #sun {
        display: none !important;
    }
    nav input {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    nav input[type=checkbox]:not(:checked) + label,
    nav input[type=checkbox]:checked + label {
        background: var(--color-loader);
    }
    nav input[type=checkbox]:checked + label:after {
        left: 42px;
        transform: translateX(-100%);
        background: var(--color-panel);
    }
    nav input[type=checkbox]:checked + label > #moon,
    nav input[type=checkbox]:not(:checked) + label > #sun {
        display: block;
        position: absolute;
        top: 4px;
        z-index: 4;
    }
    nav input[type=checkbox]:checked + label > #moon {
        right: 2px;
    }
    nav input[type=checkbox]:not(:checked) + label > #sun {
        left: 4px;
    }
    nav input[type=checkbox]:checked + label > #sun,
    nav input[type=checkbox]:not(:checked) + label > #moon {
        display: none;
    }


    nav .navbar-user,
    nav .navbar-menu {
        display: flex;
        padding: 4px;
        border: none;
    }
    nav .navbar-user {
        width: 25px;
        margin: 0 85px 0 30px;
        order: 1;
    }
    nav .navbar-menu {
        width: 25px;
        margin: 0 30px 0 85px;
        order: 3;
    }
    nav .navbar-creator.hide,
    nav .navbar-user.hide, 
    nav .navbar-menu.hide {
        display: none;
    }
    nav .navbar-user:focus-visible,
    nav .navbar-menu:focus-visible {
        padding: 2px;
        border: 2px solid var(--color-loader);
    }
    nav .navbar-user:focus-visible i,
    nav .navbar-menu:focus-visible i {
        border: none;
    }

    nav .navbar-creator {
        display: inline-block;
        margin: 0 0 0 30px;
        padding: 6px 22px;
        order: 1;
        background: var(--color-iberu);
        border-radius: 5px;
        border: none;
    }
    nav .navbar-creator i {
        display: inline-block;
        color: white;
        font-size: 12px;
    }
    nav .navbar-creator:hover,
    nav .navbar-creator:focus-visible {
        transition: all .25s;
        background: var(--color-iberu-active);
        border-color: var(--color-iberu-active); 
    }


    #performer-container {
        width: auto;
    }

    .external-container.large {
        margin: 15px 3%;
    }

    #login-row {
        flex-direction: column;
    }
    #login-container input[type=text], 
    #login-container input[type=password] {
        width: 70%;
        margin: 12px 15%;
    }
    .authentication {
        margin: 5px 15%;
    }

    .left,
    .right,
    .center {
        margin: 5px 0;
    }

    .param {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: fit-content;
        padding: 0 0 10px 0;
    }

    #description-container {
        width: 100%;
        margin: 5px 0;
    }

    #buy-container {
        width: 100%;
        margin: 5px 0;
    }
    #buy-container .checkbox-container {
        width: 70%;
        margin: 0 auto;
    }
    #buy-container .iberu-button {
        width: 100%;
        min-height: 50px;
    }

    #chart-container {
        width: 100%;
        height: 450px;
        margin-right: 0;
    }

    #earning-container {
        width: 100%;
        height: fit-content;
        margin-left: 0;
    }
    .earning-grid:last-of-type {
        border: none;
    }


    #column-container {
        width: 100%;
        padding: 0 0 5px 0;
    }

    #column-container .panel{
        margin: 5px 0;
    }

    #info-container {
        width: 100%;
    }

    #trades-container {
        height: fit-content;
    }


    .trading-type span {
        display: none;
    }
    .trading-type button:first-of-type {
        margin: 4px !important;
    }
    .thumbnail-column.svg {
        display: none;
    }
    .thumbnail-column:not(svg) {
        display: block;
        margin: auto;
    }
}
  
@media (max-width: 720px) {
    .fixed-position {
        position: fixed;
    }

    nav i {
        font-size: 22px;
    }

    nav .navbar-logo {
      order: 1;
      justify-content: left;
      margin-left: 20px;
    }
  
    nav .navbar-logo.hide {
      display: none;
    }
  
    nav .navbar-user {
      order: 2;
      width: fit-content;
      padding: 0;
    }
    nav .navbar-creator.hide,
    nav .navbar-user.hide {
      display: none;
    }

    nav .navbar-creator {
        display: none;
    }
  
    nav .navbar-cancel.show {
      margin: 30px 0;
    }
  
    nav .navbar-menu,
    nav .navbar-creator,
    nav .navbar-user,
    nav .navbar-cancel {
      margin: 0 20px;
    }


    .col {
        flex-direction: column; 
    }

    .smartphone-image {
        flex: 3;
        margin: 20px 0 0 0;
    }


    .external-container.large {
      margin: 10px calc(2% - 1px);
    }
    .external-container.narrow {
        margin: 10px calc(6% - 1px);
      }


    #registration-form {
        width: 100%;
        height: 55vh
    }
    #registration-form h1 {
        margin-top: auto;
        font-size: 40px;
    }
    #registration-form .links {
        display: flex;
        margin: 10px auto 30px 0;
    }
    #registration-form .links a:not(:last-child) {
        margin: auto 20px auto 0;
    }
    #registration-form .links span {
        display: none;
    }
    #registration-form .links i {
        font-size: 22px;
    }
    #registration-form .inverse {
        height: 100%;
    }
    #google-registration {
        margin: -14px 0;
    }
    #smartphone-image {
        display: none;
    }
    #creator-container {
        flex-direction: column;
    }
    #creator-container h2 {
        margin-bottom: 20px;
        font-size: 18px;
    }
    #creator-container h2:last-of-type {
        margin-bottom: 50px;
        font-size: 18px;
    }
    #creator-container a {
        display: block;
        float: right;
        width: fit-content;
    }
    #creator-img {
        width: 100%;
        height: 200px;
        margin: auto 40px auto 0;
    }
    #steps .column {
        width: 100%;
        display: flex;
    }
    .arrow {
        display: flex;
        position: relative;
        width: 33%;
        height: 70vw;
        margin: 0;
        flex-direction: row;
    }
    .arrow-down.left {
        height: 100%;
        width: 100%;
        margin: 0 0 0 10px;
        clip-path: polygon(40% 0, 100% 8%, 100% 100%, 40% 92%);
    }
    .arrow-down.right {
        height: 100%;
        width: 100%;
        margin: 0 10px 0 0;
        clip-path: polygon(0 8%, 60% 0, 60% 92%, 0 100%);
    }
    .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 95%;
        height: 39.6%;
        padding: 5px;
        transform: translate(-50%, -50%);
        border: 2px solid var(--color-iberu);
        border-top: 2px solid var(--color-background);
        border-radius: 100%;
        z-index: 1;
    }
    #first-step, 
    #second-step, 
    #third-step {
        width: 80%;
    }
    #steps-container h1 {
        margin: 10px 0 40px 0;
    }





    #login-container input[type=text], 
    #login-container input[type=password] {
        width: 100%;
        margin: 12px 0;
    }
    .authentication {
        margin: 5px 0;
    }

    #header-container {
      box-shadow: 1px 2px 5px -1px var(--color-shadow);
      flex-direction: column;
    }
    #header-container .strategy-title {
        width: 100%;
    }
    #easy-pie-container {
        width: fit-content;
        padding: 0;
    }
    .easy-pie-chart {
        width: fit-content;
        margin: 10px auto 0 auto;
    }

    #header {
        width: fit-content;
        margin: auto;
    }
    #header h1 {
        margin: 0;
        font-size: 22px;
    }

    #chart-container {
        height: 400px;
    }

    .trades-table caption {
        display: block;
        width: 100%;
    }
    .trades-table thead {
        display: none;
    }
    .trades-table, .trades-table tbody, .trades-table tr, .trades-table td {
        display: block;
        width: 100%;
    }
    .trades-table tr {
        margin-bottom: 5px;
    }
    .trades-table tbody tr th {
        display: block;
        width: fit-content;
        margin: 10px auto 0 auto;
    }
    .trades-table tbody tr td {
        position: relative;
        padding-left: 50%;
        text-align: right;
    }
    .trades-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 5px;
        text-align: left;
    }
}

@media (max-width: 620px) {
    .smartphone-image {
        flex: 3;
        margin: 25px 0 0 0;
    }

    #smartphone-strategy-l,
    #smartphone-strategy-d {
        right: 11%;
    }
    #smartphone-search-l,
    #smartphone-search-d {
        left: 11%;
        transform: translate(0, 0);
    }
    #steps-container .fa-chevron-left {
        left: 6%;
    }
    #steps-container .fa-chevron-right {
        right: 6%;
    }
    .step {
        width: 84%;
        background: var(--color-background);
    }
    #monthly-top-performer {
        flex-direction: column;
    }

    .panel-info {
        display: none !important;
    }
    #buy-modal {
        width: 90%;
    }

    #iberu-container {
        position: relative;
    }
    #iberu-container div {
        width: 100%;
    }
    #iberu-container img {
        position: absolute;
        width: 150px;
        padding: 0;
        left: 4%;
        top: 22px;
    }
    #iberu-container h2 {
        display: block;
        margin: 30px auto 0 auto;
        padding: 30px 0 10px 0;
    }
    #iberu-container a {
        width: fit-content;
        display: block;
        margin: 0 auto 20px auto;
    }

    #login-container {
        flex: 2;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        background: linear-gradient(var(--color-iberu), #6ca597);
    }
    #login-container h1 {
        margin: 30px auto 30px auto;
    }
    #login-container input[type=text], 
    #login-container input[type=password] {
        height: 26px;
        font-size: 16px;
    }
    #login-container input[type=text]::placeholder,
    #login-container input[type=password]::placeholder {
        font-size: 16px;
    }
    .authentication {
        margin: 20px 0;
    }
    .authentication .iberu-button.inverse {
        width: 100%;
        margin-bottom: 15px;
        padding: 16px 30px;
    }
    .authentication a {
        margin: 0;
    }

    #iberu-container {
        flex: 1;
    }

    .tutorial {
        display: none;
    }

    header h1 {
        margin: auto;
    }

    #description-container {
        height: fit-content;
        margin-bottom: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #buy-container {
        height: fit-content;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        border-radius: 0px;
    }

    #performance-container {
        margin-top: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 5px;
        background-size: 80% auto;
    }


    #chart-container {
        margin-bottom: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 5px;
        background-size: 80% auto;
    }

    #earning-container {
        margin-top: 0px;
        padding-top: 0px; 
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    #earning-container h2 {
        margin: 0 auto 15px auto;
    }


    #weekly-top-performer {
        flex-direction: column;
    }
    #top-performer {
        padding-bottom: 20px;
    }
    .trading-type span {
        display: block;
    }
    .trading-type button:first-of-type {
        margin: 4px 4px 4px 0 !important;
    }
    .thumbnail-container .fa-chevron-left,
    .thumbnail-container .fa-chevron-right {
        display: block;
        color: var(--color-loader);
    }
    .thumbnail-container .fa-chevron-left {
        display: block;
        position: absolute;
        top: 50%;
        left: -15px;
    }
    .thumbnail-container .fa-chevron-right {
        display: block;
        position: absolute;
        top: 50%;
        right: -15px;
    }

    #info-container {
        height: fit-content;
    }

    .thumbnail-container {
        width: fit-content;
    }
    .thumbnail:not(.current) {
        display: none;
    }
    .thumbnail.current {
        width: 100%;
    }
    .thumbnail.current .svg{
        display: flex;
    }

    .dot-list {
        display: block;
        text-align: center;
    }
    .dot {
        cursor: pointer;
        height: 3px;
        width: 3px;
        margin: 0 2px;
        background-color: var(--color-separator);
        border-radius: 50%;
        display: inline-block;
    }
    .dot.current {
        height: 5px;
        width: 5px;
    }


    .filter-bar {
        display: block;
    }
    .trading-type {
        display: flex;
        width: 100%;
        margin: 0 0 15px 0;
        justify-content: space-between;
    }
    .trading-type button {
        width: 25%;
    }
    .search {
        width: 100%;
        max-width: 100%;
        margin: 0 0 10px 0;
    }
    .strategies-table thead th {
        padding: 0 0 10px 0;
    }
    .strategies-table thead th:nth-child(1) {
        width: 15%;
    }
    .strategies-table thead th:nth-child(2) {
        width: 30%;
        text-align: left;
    }
    .strategies-table thead th:nth-child(3),
    .strategies-table thead th:nth-child(4),
    .strategies-table thead th:nth-child(5),
    .strategies-table tbody tr td:nth-child(3),
    .strategies-table tbody tr td:nth-child(4),
    .strategies-table tbody tr td:nth-child(5) {
        width: 0;
        display: none;
    }
    .strategies-table thead th:nth-child(6) {
        width: 10%;
    }
    .strategies-table thead th:nth-child(7) {
        width: 45%;
    }
    .strategies-table tbody tr td{
        padding: 10px 0;
    }

    .redirect-bar {
        display: block;
    }
    .redirect-bar a,
    .links{
        display: block;
        width: fit-content;
        margin: 0 auto 10px auto;
    }
    .redirect-bar a{
        margin-bottom: 20px;
    }
    .links a {
        display: block;
    }
    .links a i{
        padding: 0;
    }
}

@media all and (display-mode: fullscreen) {
    #chart-container {
        margin:0;
        padding: 0;
    }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
   transition: all 750ms !important;
   transition-delay: 0 !important;
}