<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="dark">
    <head>
        <meta charset="utf-8">
        <title>Log In</title>
        <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main class="row" id="login-row">
            <div class="column left" id="iberu-container">
                <div>
                    <a href="{{ url_for('main.index') }}"><img src="/static/img/logo.png" alt="Iberu Trading Strategies logo"></a>
                    <h1>OWN YOUR FUTURE, BE FREE.</h1>
                    <a href="{{ url_for('auth.login') }}" class="iberu-button">LOGIN</a>
                </div>
            </div>
            <div class="column right" id="login-container">
                <div class="login-container">
                    <h1>RESET PASSWORD</h1>
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.email.label }}
                            {{ form.email(size=64, placeholder="Email", autocomplete="off") }}
                            {% for error in form.email.errors %}
                                <span class="negative">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <div class="authentication">
                            {{ form.submit(class="iberu-button inverse") }}
                        </div>
                    </form>
                </div>
            </div>         
        </main>
    </body>
</html>